* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-image: url('faq-accordion-main/assets/images/background-pattern-desktop.svg');
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsl(275, 100%, 97%);
  font-family: Work sans;
}
.box1 {
  align-items: left;
  text-align: left;
  justify-content: center;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  margin-bottom: 80px;
  margin-left: 500px;
  margin-right: 600px;
  width: 600px;
  height: 500px;
  border-radius: 15px;
  background-color: white;
  position: fixed;
}
.header1 {
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
#image1 {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
h1 {
  margin-top: 20px;
  margin-left: 25px;
  font-size: 50px;
  font-weight: 1000;
}
.faq-item {
  border-bottom: 1px solid #e0e0e0;
}
.toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    margin-right: 20px;
}

.question {
  padding: 15px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  transition: background-color 0.3s;
  color: hsl(292, 42%, 14%);
}
.question:hover{
    color: rgb(168, 5, 168);
}

.answer {
  padding: 15px;
  display: none;
  color: hsl(292, 16%, 49%);
}
.visible{
    display: none;
}

